* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  color: darkslateblue;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
/* this controls my navigation? i think */
header {
  margin: 0px 0px 100px 0px;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(201, 198, 198, 0.162);
  border-bottom: 2px black solid;
  text-align: center;
}

ul li a {
  font-size: 16px;
  color: rgb(187, 91, 56);
  font-family: "Roboto", sans-serif;
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0px 30px 0px 30px;
}
/* these are my headers and paragraphy controls*/
h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: inline-block;
  margin-right: 50px;
}

h2 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
}

h3 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

p {
  line-height: 20px;
  margin: 30px 300px;
}

/*this controlls the section where the photo and the photo caption are*/
.photo {
  color: black;
  text-align: center;
  margin: 0px 0px 100px 0px;
}

img {
  border: 1px solid darkslategrey;
  border-radius: 5%;
}

figcaption {
  font-size: 12px;
}

/*this controls the sections where the paragraph of information is*/
.information {
  background-color: rgba(201, 198, 198, 0.162);
  border-bottom: 2px black solid;
  padding: 50px;
  text-align: center;
}
.wrapper-button {
padding: 15px;
}

button {
    color: green;
    background-color: whitesmoke;
    padding: 10px;  
    border-radius: 5px; 
    font-size: 18px;
    cursor: auto;
    margin: auto;
}

/* this controls the achnors tags and clickable links*/
a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: rgba(169, 169, 169, 0.231);
}

footer {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 0%;
  margin-left: 0%;
  text-align: center;
  font-style: italic;
}
