* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
/* this controls my navigation? i think */
header {
  margin: auto;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  background-color: #1f2833;
  border-bottom: 2px black solid;
  text-align: center;
}

.topScroll {
  margin: auto;
  color: black;
  max-height: inherit;
}

ul li a {
  font-size: 16px;
  color: #66fcf1;
  font-family: "Roboto", sans-serif;
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0px 30px 0px 30px;
}
/* these are my headers and paragraphy controls*/
h1 {
  color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: inline-block;
  margin-right: 50px;
}

h2 {
  color: #66fcf1;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: bold;
}

h3 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

p {
  line-height: 30px;
  font-size: 18px;
}

/*this controlls the section where the photo and the photo caption are*/
.photo {
  color: black;
  text-align: center;
  margin: 0px 0px 100px 0px;
}

img {
  margin-top: 100px;
  border: 1px solid darkslategrey;
  border-radius: 5%;
}

figcaption {
  font-size: 12px;
  color: whitesmoke;
}

/*this controls the sections where the paragraph of information is*/
.information {
  background-color: rgba(201, 198, 198, 0.162);
  border-bottom: 2px #1f2833 solid;
  padding: 30px;
  text-align: center;
}
.information-paragraph {
  color: whitesmoke;
}

.information-section {
  max-width: 700px;
  margin: auto;
  padding: 30px;
}
.wrapper-button {
  padding: 15px;
}

.wrapper-backgroundimage {
  background-image: url(images/background-image.jpg);
  background-repeat: no-repeat;
}

button {
  color: black;
  background-color: #66fcf1;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  margin: auto;
  border: 3px solid black;
}

button:hover {
  background-color: lightgray;
}

/* this controls the achnors tags and clickable links*/
a {
  color: #66fcf1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: rgba(169, 169, 169, 0.231);
}

footer {
  background-color: #1f2833;
  text-align: center;
}
.footer-paragraph {
  color: #66fcf1;
  padding: 20px;
}

.footer-container {
  margin: auto;
}
/* This is where the extra code goes for the contact page*/
.container-contact {
  background-image: url(images/background-image.jpg);
  padding: 200px;
  text-align: center;
}

.copyright {
  color: black;
}

.contact-paragraph {
  color: whitesmoke;
}
